<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lh9.feg1.firekidsgame" >

    <!--<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="32"/>-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--Google Play-->
   <!-- <uses-permission android:name="com.android.vending.BILLING"/>-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:isGame="true"
        android:appCategory="game"
        android:label="@string/app_name"
        android:theme="@style/GdxTheme" >

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9854936984598191~3486424065"/>

        <activity
            android:name="com.lh9.feg1.firekidsgame.AndroidLauncher"
            android:label="@string/app_name" 
            android:screenOrientation="landscape"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
